/**
Styles globals aux éléments de formulaire.
*/

@import 'utils';
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  transition: background-color 5000s ease-in-out 0s;
}
input,
/*app-textarea textarea[contenteditable],*/
app-textarea div[contenteditable],
app-select div.content-editable {
	@include border-radius($small-border);
	@include transition(all);
	padding: 0 13px;
	border: none;
	box-sizing: border-box;
	outline: none;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	&::placeholder {
		color: $placeholder-color;
	}
	&:focus {
		border-color: $focus-color;
		box-shadow: 0 5px 10px 0 rgba(13, 71, 101, 0.2);
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /*input{
    height:56px;
  }
  ::ng-deep.mat-form-field {
    input{
      height:auto;
    }
  }*/
}

app-input,
app-textarea,
app-select {

	display: inline-block;
	position: relative;
	label,
	.description {
		font-size: 14px;
		color: #6f6f6f;
	}
	.zone-description {
    display: inline-block;
    position: relative;
	}
	&[label] {
		padding-top: 32px;
		label {
			position: absolute;
			top: 10px;
			left: 0;
		}
		&[label-on-left] {
			label {
				position: relative;
				float: left;
				margin-top: 16px;
				top: 0;
				margin-right: 24px;
			}
		}
	}
	&[description] {
		padding-bottom: 24px;
		.description {
			position: absolute;
			bottom: 2px;
		}
	}
	&.error,
	&:not([error='false'])[error] {
    textarea[contenteditable]
		div[contenteditable],
		input {
			border-color: $warning-color;
		}
	}
}
/** Checkbox and Radio **/
input[type='checkbox'],
input[type='radio'] {
	width: 24px;
	height: 24px;
	border: solid 1px #ccba79;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-color: white;
	padding: 0;
	&:checked {
	//	background-color: #ccba79;
		border-color: #ccba79;
	}
	&:not([disabled='false'])[disabled] {
		background-color: #e6e6e6;
		border-color: #e6e6e6;
	}
	&:focus {
		border-color: $focus-color;
		box-shadow: none;
  }
}
input[type='radio']::-ms-check {
		color: #ccba79;
		border-color: #ccba79;
	&:not([disabled='false'])[disabled] {
		background-color: #e6e6e6;
		border-color: #ccba79;
	}
	&:focus {
		border-color: $focus-color;
		box-shadow: none;
  }
}

input[type='radio'] {
	@include border-radius(24px);
	position: relative;
	&:checked:after {
		content: '';
		width: 12px;
		height: 12px;
		@include border-radius(12px);
		background-color:  #ccba79;
		left: 4.5px;
		top: 5px;
		position: absolute;
	}
}

input[type='checkbox']:checked {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 85%;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAAAAXNSR0IArs4c6QAAAlFJREFUWAnNl01IVFEUx52cmhkyJAkCQQiCUGGgwEKKAoUIJIQIUpAW0cZVm1bt2tSqjbqoTSs3EkQQYqREECEiLlwILoIgECSJ1L60D51+B++FM9f35r0ZeO/OhT/nf+6755wfDs6709BQR6tUKmVQex0hlaMA9xh9RxfKn9RBBtQIsmsTc64OsPYQgHlkyVRcx/v/uIF4oKC0nSI55PWvCMB9TaT8DD7vG+6eAtL2LUnBN9xdTaT8e/xh33B3FJC2cyRHfMMNayLlF/DNvuFuA7GroKxdxLT4hrsJxI4lUnEJf8w33CAQ/xSUtcuY477hrgPx1xKp+AHf6huuH4g/Csraj5i2quEoKqAxdLTqYqeAHn3oN3LXJzZOOMejU4ryaNp0myfW/C9P7WW0ZXrpsEJyMprGOUFRDsmLWa9ZkibnaGRKTQ/6pRsZv0o8Fdkg6ACFAwENZesdiv3a4exF9AO5a42NzqDZsfdoEHareMOzyBc3Z7rRN+SuL2wUY4NUOkijh253k78m5sJqedaFNsxZHeTCeSasrqZ9GgbdbGXoJNp3eWTvNPqK3CVX9rM1QUQV0XjUnWbyF8SsrccXkXyE7pIfPeftuUQiA564U03+jNiIOtBns6fDT5JLiUDppgyR36dP9WTl5S8pXxvuku++Xt0nUc+wA2jcpQjJt9m/kihQUHOGysc5EQJlt+V9ezWoPpU9hmfRc0vjRLmpXEsFpNIQIA6ilw6c3PFuVKpL9Rkw8s5+ZSDldjyUKkCcYUDZW8+tOOe9nAEyk+bg/5bEcm8jGKYvAAAAAElFTkSuQmCC');
}


/*
.matInput{
	input {
		height: 20px;
	}
	.mat-form-field{
		&:focus {
			border-color: $focus-color;
			box-shadow: 0 5px 10px 0 rgba(13, 71, 101, 0.2);
		}
		.mat-form-field-outline{
			@include border-radius($small-border);
			@include transition(all);
			border: none;
			box-sizing: border-box;
			background-color: #eeeeee;
			border: none;
		}
		input {
			&:focus {
				box-shadow: none;;
			}
		}
		.mat-form-field-label {
			color: $warm-grey;
		}
	}
	.mat-form-field.mat-focused{
		.mat-form-field-label {
			color: $warm-grey;
		}
		.mat-form-field-outline{
			box-shadow: 0 5px 10px 0 rgba(13, 71, 101, 0.2);
		}
	}
	.mat-form-field.mat-form-field-invalid {
		.mat-form-field-label {
			color: $warm-grey;
		}
	}
	.mat-form-field-outline-thick{
		color: $focus-color !important;
	}

	.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
	.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap,
	.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{
		border-width: 1px;
	}

	.mat-form-field-suffix mat-icon{
		color: grey;
	}
	.mat-form-field-wrapper {
		padding-bottom:0;
	}
	.mat-error{
		color: crimson;
		margin-top: 4px;
		font-size: 10px;
	}

}
*/


