$primary-color: #162d46;
$secondary-color: #851e34;
$tertiary-color: #6f6f6f;
$white-color:white;
$text-color: darkblue;
$medium-grey: lightgrey;
$warm-grey: #6f6f6f50;
$valid-color:rgb(96, 207, 152);
$warning-color: rgb(230, 131, 66);
$alert-color: rgb(247, 83, 83);
$transparent-grey: rgb(83, 83, 83, 0.2);
$transparent-primary: rgb(0, 0, 0, 0.6);
